.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}





#app {
	background-color: #d0c5c512;
}

#app>header,
#app>footer {
	background-color: #eceaea;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
	z-index: 100;
}

#app>header {
	position: sticky;
	top: 0;
	padding: .5rem;
}

#app>header>h1 {
	margin: 0;
}
