nav {
  margin: .3rem 0 0;
}

nav ul {
	list-style: none;
	overflow: auto;
	margin: 0;
	padding: 0;
}

nav ul>li {
	float: left;
}

nav ul>li div {
	margin: 0 .33rem 0 0;
	padding: .3rem;
  background-color: #d0c5c58a;
  cursor: pointer;
}


nav ul>li.active>div {
	text-decoration: underline;
	background-color: #cdafaf;
}

nav ul>li.child-active>div {
	text-decoration: none;
}

nav>ul>li ul {
	display: none;
}

nav>ul>li.active ul {
	display: block;
}
